.display{
    grid-column: span 4;
    background-color: rgba(0, 255, 255, 0.964);

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2.2em;
    overflow: hidden;
}